<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Inicio</a></li>
        <li><a ng-href="#">Histórico</a></li>
        <li><a ng-href="#">Zonas</a></li>
    </ul>
    <h3 class="text-muted"> Precio Justo <i class="fa fa-usd"></i></h3>
</div>

<div class="row marketing">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#"><i class="fa fa-book fa-fw"></i> Por producto</a></li>
                <li><a href="https://twitter.com/intent/tweet?button_hashtag=PrecioJusto&text=Compré%20este%20producto%20a%20un%20" data-lang="es"><i class="fa fa-pencil fa-fw"></i>Publicar</a></li>
                <li><a href="#" data-toggle="modal" data-target="#PublicarPrecio"><i class="fa fa-cogs fa-fw"></i> Ejemplos</a></li>
                <!--<li><a href="#"><i class="fa fa-cogs fa-fw"></i> </a></li>-->
            </ul>
        </div>
        <div class="col-md-9">
            <form class="form-horizontal" role="form">
                <div class="form-group has-success has-feedback">
                    <label class="control-label col-sm-3" for="inputSuccess3">Búscar</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputSuccess3">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <h3>Publicaciones de otros usuarios <small>Vista en tiempo real</small></h3>
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23PrecioJusto" data-widget-id="464430802265059328">Tweets sobre "#PrecioJusto"</a>
            <script>!function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PublicarPrecio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Publicar Precio Justo</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">#PrecioJusto</span>
                    <input type="text" class="form-control" placeholder="Procducot - Precio">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Publicar</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> Hecho en Chaco SF</p>
</div>

<script>!function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
</script>
